/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: var(--rly--header);
  margin-bottom: 3.25rem;
}
img {
  max-width: 100%;
}
footer {
  background-color: var(--rly--footer);
}
/* end global */

/* debug */

.debug header {
  height: 50px;
}
.debug nav div {
  width: 50px;
  height: 20px;

  background-color: antiquewhite;
}
.debug [class^="col_"] {
  height: 100px;
  background-color: lightcoral;
  border: 1px solid black;
}
.debug .about {
  background-color: lightgreen;
  height: 100px;

  border: 1px solid black;
}
/* end debug */

/* utility */
:root {
  --rly--header: #0084fd;
  --rly--primary: #b5ddff;
  --rly--text: #0385fd;
  --rly--secondary: #9792e4;
  --rly--text--footer: #fdc15f;
  --rly--footer: #333333;
  --rly--light: #ffffff;
  --rly--dark: #000000;
  --rly--text--content: #63798c;
}
.d_flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5625rem;
}
.d_column {
  display: flex;
  flex-direction: column;
}
.justify_content {
  justify-content: center;
}
.d_row {
  flex-direction: row;
}
.d_none {
  display: none;
}
.d_block {
  display: block;
}
.container {
  max-width: 1152px;
  width: 80%;
  margin: 0 auto;
}
.container_content {
  max-width: 1152px;
  width: 70%;
  margin: 0 auto;
}
.bnt {
  background-color: var(--rly--light);
  color: var(--rly--dark);
  padding: 0.625rem 1rem;
  border-radius: 25px;
}
.col_12 {
  width: 100%;
  padding: 2rem 1.5rem;
  justify-content: center;
  align-items: center;
}
.col_8 {
  width: calc(100% / 12 * 8);
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
}
.col_6 {
  width: calc(100% / 12 * 6);
  padding: 0.625rem;
}
.col_4 {
  width: calc(100% / 12 * 4);
  padding: 0.625rem;
}
.mag_botton {
  margin-bottom: 1.25rem;
}
.fa-2xl {
  font-size: 5em;
}
.padding_botton {
  padding-bottom: 3.125rem;
}
/* end utility */

/* header */
header nav {
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0;
}
a {
  text-decoration: none;
  color: var(--rly--light);
  margin-right: 1rem;
  font-size: 1rem;
}
/* end header */
/* main */
/* application */
.card_app div:first-child {
  padding-bottom: 0;
}
.card_app div {
  background-color: var(--rly--primary);
  border-radius: 1rem;
}
.card_app h2 {
  color: var(--rly--text);
  padding-bottom: 1.625rem;
}
.card_app p {
  text-align: center;
  font-weight: 500;
  color: var(--rly--text--content);
  padding-bottom: 2rem;
  line-height: 1.7rem;
}
.icon_card {
  padding-top: 2.25rem;
  padding-bottom: 3.5rem;
}
.btn_card {
  background-color: var(--rly--text);
  color: var(--rly--light);
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.4rem 2rem;
  letter-spacing: 0.125rem;
  margin-bottom: 1.25rem;
}
/* end application */
/* strategic */
.strategic {
  background-color: var(--rly--secondary);
}
.strategic h2 {
  color: var(--rly--light);
  text-align: left;
  padding-bottom: 0.9375rem;
}
.strategic p {
  color: var(--rly--light);
  line-height: 1.7rem;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: left;
}
.strategic_card {
  background-color: var(--rly--light);
  margin-bottom: 2.25rem;
  border-radius: 1.25rem;
  padding-top: 1.25rem;
}
.strategic_card p {
  color: var(--rly--dark);
  font-style: italic;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--rly--secondary);
  align-content: center;
  justify-content: center;
}

/* end strategici */
/* testimonila */
.testimonial {
  text-align: center;
  padding-top: 2.25rem;
}
.testimonial span {
  text-transform: uppercase;
  font-size: 0.8rem;
}
.testimonial h2 {
  color: var(--rly--secondary);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.testimonial p {
  font-weight: 500;
  line-height: 2.125rem;
}
.testimonial_card {
  background-color: var(--rly--secondary);
  border-radius: 1.5rem;
  text-align: center;
  padding: 0.625rem;
}

.testimonial_card img {
  width: 8.25rem;
  height: 8.25rem;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 2.25rem;
}
.testimonial_card p {
  color: var(--rly--light);
  font-weight: 300;
  line-height: 2.125rem;
  padding-bottom: 1.25rem;
  font-size: 0.9rem;
}
.testimonial_card span {
  color: var(--rly--light);
  text-transform: uppercase;
  margin-bottom: 1.25px;
}
.testimonial_content {
  padding-bottom: 1.5rem;
}
/* end testimonial */

/* expert */
.expert {
  background-color: var(--rly--secondary);
  margin-top: 3.25rem;
}
.expert_card {
  background-color: var(--rly--light);
  margin-top: 0.9375rem;
  padding: 1.9375rem;
  border-radius: 1.25rem;
}

.expert h2 {
  color: var(--rly--light);
  padding-top: 3.25rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}
.expert_card span {
  color: var(--rly--secondary);
  font-size: 3.25rem;
  font-weight: bold;
  margin-bottom: 0.9375rem;
}
.expert_card h3 {
  color: var(--rly--secondary);
  margin-bottom: 0.9375rem;
}
.expert_card p {
  margin-bottom: 1rem;
  line-height: 2rem;
  font-size: 0.8rem;
}
.expert_card a {
  background-color: var(--rly--secondary);
}
/* end expert */
/* about */
.about {
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
  position: relative;
}
.about h2 {
  color: var(--rly--secondary);
  font-size: 2.25rem;
  margin-bottom: 0.9375rem;
}
.about p {
  line-height: 2.25rem;
}
.about h3 {
  color: var(--rly--secondary);
  font-size: 1.8rem;
  margin-bottom: 1.25rem;
  line-height: 2.25rem;
}
.about a {
  background-color: var(--rly--secondary);
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0.6rem 1rem;
}
.img_about {
  width: 10.25rem;
  height: 10.25rem;
  border-radius: 50%;
  margin-bottom: 0.9375rem;
}
.marks {
  position: absolute;
  top: 21px;
  right: 105px;
}
/* end about */
/* media query */

@media screen and (min-width: 800px) {
  .col_md_12 {
    width: 100%;
    padding: 2rem 1.5rem;
    justify-content: center;
    align-items: center;
  }

  .col_md_8 {
    width: calc((100% / 12) * 8 - 16px);
    padding: 1.625rem;
    margin: 10px 8px;
  }
  .col_md_6 {
    width: calc((100% / 12) * 6 - 16px);
    padding: 0.625rem;
    margin: 10px 8px;
  }
  .col_md_4 {
    width: calc((100% / 12) * 4 - 16px);
    padding: 1.625rem;
    margin: 10px 8px;
    justify-content: flex-start;
  }
  .justify_md {
    justify-content: space-evenly;
  }

  .d_md_column {
    display: flex;
    flex-direction: column;
  }
  .justify_content {
    justify-content: flex-start;
  }
  .card_app p {
    text-align: left;
  }
  .d_flex {
    gap: 0;
  }
  .btn_card {
    width: 41%;
  }
  .phone {
    width: 60%;
  }
  .strategic h2 {
    font-size: 3.25rem;
  }
  .testimonial_card {
    text-align: left;
    justify-content: space-evenly;
    margin-top: 1.25rem;
  }
  .testimonial_content {
    width: 73%;
  }
  .testimonial_card img {
    margin-top: 0;
  }
  .about_content {
    flex-wrap: nowrap;
  }
  .marks {
    top: 44px;
    right: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .d_lg_block {
    display: block;
  }
  .d_lg_none {
    display: none;
  }
  .d_lg_flex {
    display: flex;
    justify-content: center;
  }
  .col_lg_4 {
    width: calc(100% / 12 * 4 - 16px);
    padding: 0.625rem;
    align-items: center;
  }
  .d_lg_column {
    display: flex;
    flex-direction: column;
  }
  .btn_card {
    width: 64%;
  }
  .card_app div {
    gap: 0;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  .strategic > div {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .d_lg_flex {
    gap: 0;
  }
  .card_app p {
    text-align: left;
  }
  img {
    width: 50%;
  }
  .strategic_card {
    margin-top: 10rem;
  }
}
/* end media query */
