/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: var(--rly--header);
  margin-bottom: 3.25rem;
}
img {
  width: 100%;
}
footer {
  background-color: var(--rly--footer);
}
/* end global */

/* debug */

.debug header {
  height: 50px;
}
.debug nav div {
  width: 50px;
  height: 20px;

  background-color: antiquewhite;
}
.debug [class^="col_"] {
  height: 100px;
  background-color: lightcoral;
  border: 1px solid black;
}
.debug .about {
  background-color: lightgreen;
  height: 100px;

  border: 1px solid black;
}
/* end debug */

/* utility */
:root {
  --rly--header: #0084fd;
  --rly--primary: #b5ddff;
  --rly--text: #0385fd;
  --rly--secondary: #9792e4;
  --rly--text--footer: #fdc15f;
  --rly--footer: #333333;
  --rly--light: #ffffff;
  --rly--dark: #000000;
  --rly--text--content: #63798c;
}
.d_flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5625rem;
}
.d_column {
  display: flex;
  flex-direction: column;
}
.justify_content {
  justify-content: center;
}
.d_row {
  flex-direction: row;
}
.d_none {
  display: none;
}
.d_block {
  display: block;
}
.container {
  max-width: 1152px;
  width: 80%;
  margin: 0 auto;
}
.container_content {
  max-width: 1152px;
  width: 70%;
  margin: 0 auto;
}
.bnt {
  background-color: var(--rly--light);
  color: var(--rly--dark);
  padding: 0.625rem 1rem;
  border-radius: 25px;
}
.col_12 {
  width: 100%;
  padding: 2rem 1.5rem;
  justify-content: center;
  align-items: center;
}
.col_8 {
  width: calc(100% / 12 * 8);
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
}
.col_6 {
  width: calc(100% / 12 * 6);
  padding: 0.625rem;
}
.col_4 {
  width: calc(100% / 12 * 4);
  padding: 0.625rem;
}
.mag_botton {
  margin-bottom: 1.25rem;
}
.fa-2xl {
  font-size: 5em;
}
/* end utility */

/* header */
header nav {
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0;
}
a {
  text-decoration: none;
  color: var(--rly--light);
  margin-right: 1rem;
  font-size: 1.25rem;
}
/* end header */
/* main */
/* application */
.card_app div:first-child {
  padding-bottom: 0;
}
.card_app div {
  background-color: var(--rly--primary);
  border-radius: 1rem;
}
.card_app h2 {
  color: var(--rly--text);
  padding-bottom: 1.625rem;
}
.card_app p {
  text-align: center;
  font-weight: 500;
  color: var(--rly--text--content);
  padding-bottom: 2rem;
  line-height: 1.7rem;
}
.icon_card {
  padding-top: 2.25rem;
  padding-bottom: 3.5rem;
}
.btn_card {
  background-color: var(--rly--text);
  color: var(--rly--light);
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.4rem 2rem;
  letter-spacing: 0.125rem;
  margin-bottom: 1.25rem;
}
/* end application */
/* strategic */
.strategic {
  background-color: var(--rly--secondary);
}
.strategic h2 {
  color: var(--rly--light);
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}
.strategic p {
  color: var(--rly--light);
  line-height: 1.7rem;
  font-size: 1rem;
  font-weight: 300;
}
.strategic_card {
  background-color: var(--rly--light);
  margin-bottom: 2.25rem;
  border-radius: 1.25rem;
}
.arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--rly--secondary);
  align-content: center;
  justify-content: center;
}

/* end strategici */
/* media query */

@media screen and (min-width: 376px) {
  .col_md_8 {
    width: calc((100% / 12) * 8 - 16px);
    padding: 0.625rem;
    margin: 10px 8px;
  }
  .col_md_6 {
    width: calc(100% / 12 * 6);
    padding: 0.625rem;
  }
  .col_md_4 {
    width: calc((100% / 12) * 4 - 16px);
    padding: 0.625rem;
    margin: 10px 8px;
  }
  .justify_md {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 376px) {
  .card_app div {
    gap: 0;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  .d_lg_flex {
    gap: 0;
  }
  img {
    width: 50%;
  }
}

@media screen and (min-width: 376px) and (max-width: 1200px) {
  .d_lg_block {
    display: block;
  }
  .d_lg_none {
    display: none;
  }
  .col_lg_4 {
    width: calc(100% / 12 * 4);
    padding: 0.625rem;
    align-items: center;
  }
  .d_lg_column {
    display: flex;
    flex-direction: column;
  }
  .card_app div {
    gap: 0;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  .d_lg_flex {
    gap: 0;
  }
  .card_app p {
    text-align: left;
  }
  img {
    width: 50%;
  }
}
/* end media query */
